# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/*
!.streamlit/
!.streamlit/config.toml

# Environment Variables
.env

# Output Files
uploads/*
!uploads/.gitkeep
extracted_audio/*
!extracted_audio/.gitkeep
transcripts/*
!transcripts/.gitkeep
summaries/*
!summaries/.gitkeep
output/
chroma_db/*
!chroma_db/.gitkeep

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
