# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Environment Variables
.env

# Output Files
uploads/
extracted_audio/
transcripts/
summaries/
output/
chroma_db/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db